a:link, a:visited, a:active {
    color: black;
    text-decoration: underline;
}

.content {
    font-size: 125%;
    padding-top: 0;
    margin-top: 0;
}

.ydoc {
    color: turquoise;
}

.ycom {
    color: blue;
}

.ydir {
    color: red;
}

.ykey {
    color: green;
}

.ysep {
    color: brown;
}

