a:link, a:visited, a:active {
    color: black;
    text-decoration: underline;
}

.content {
    font-size: 125%;
    padding-top: 0;
    margin-top: 0;
}

.ydoc {
    color: turquoise;
}

.ycom {
    color: blue;
}

.ydir {
    color: red;
}

.ykey {
    color: green;
}

.ysep {
    color: brown;
}

@media screen and (min-width: 769px){
    body {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px){
    .content { 
        font-size: 26px;
    }
}

@media screen and (min-width: 1800px){
    .content { 
        font-size: 40px;
     }
}