body {
  font-family: sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin-top: 3em;
}

h1, h2, h3, h4, h5, h6  {
  color: #005a9c;
}

h1 {
  font-size: 170%;
  font-style: normal;
  font-weight: normal;
}


h2 {
  font-size: 140%;
  font-style: normal;
  font-weight: normal;
}

h3 {
  font-size: 120%;
  font-style: normal;
  font-weight: normal;
}

h5 {
  font-size: 80%;
  font-style: normal;
  font-weight: bold;
}

h6 {
  font-size: 60%;
  font-style: normal;
  font-weight: bold;
}

.main-content img {
  max-width: 100%;
}

#markdown-toc ul ul ul ul {
  display: none;
}

div.example pre.example {
  border-style: ridge;
  width: 98%;
  padding: 0.25em;
  margin: 1em;
}

pre.rule {
  border-style: ridge !important;
  width: 99%;
  padding: 0.25em;
  margin-bottom: 0.5em;
}

table {
  width: 100% !important;
}

td.side-by-side pre {
  border-style: ridge !important;
  padding: 0.25em;
  margin: 0 5px;
}

code {
  color: #000;
}
