<!DOCTYPE html>
<html>
<head><script>if (window.location.protocol === "http:" && window.location.hostname === "yaml.org") { window.location.href = window.location.href.replace( "http:", "https:"); }</script>

<meta
  http-equiv="Content-Type"
  content="text/html; charset=UTF-8"
/>

%%%TITLE%%%

<!-- "Theme" style sheet -->
<link
  rel="stylesheet"
  href="/css/spec-1.2.2.css"
  type="text/css"
/>

<!-- Imported from yaml-spec -->
<link
  rel="stylesheet"
  href="spec.css"
  type="text/css"
/>

<style>
body {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='200px' width='200px'><text transform='translate(20, 200) rotate(-45)' fill='rgb(245,245,245)' font-size='60'>DRAFT</text></svg>");
}
</style>

<link
  rel="icon"
  href="/favicon.svg"
/>

</head>
<body class="status-draft">
%%%BODY%%%
</body>
</html>
