<!DOCTYPE html>
<html>
<head>

<script>if (window.location.protocol === "http:" && window.location.hostname === "yaml.org") { window.location.href = window.location.href.replace( "http:", "https:"); }</script>

%%%TITLE%%%

<meta charset="utf-8">

<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
  crossorigin="anonymous" />

<link rel="stylesheet" type="text/css"
  href="single_html.css" />

<link rel="icon" href="/favicon.svg" />

</head>

<body>
<div class="container"><div class="row"><div class="col">

%%%BODY%%%

</div></div></div>
</body>
</html>
