table            {  font-family: Verdana, Arial, Helvetica, sans-serif; 
                    font-size: 12px; color: #000000}
.links           {  color: #003399; text-decoration: none; 
                    font-size: 12px; font-weight: bold}
a:hover          {  color: #999999; text-decoration: underline}
.page_footer     {  font-size: 9px; color: #000000}
.links_over      { color: #3399CC; text-decoration: none; 
                   font-size: 12px; font-weight: bold }
.sidebar_small   {  font-size: 12px; color: #0099FF}
.menu {
        color: #FFFFFF;
        text-decoration: none;
}
.sponsor {
        font-size: 9px;
        color: #00FF66;
        font-weight: bold;
}
.main_title {
        font-size: 14px;
        color: #FF6600;
        font-weight: bold;
}
.sub_menu {
        color: #0033FF;
        text-decoration: none;
        font-weight: bold;
}
.pagebottom {
        font-size: 9px;
}
# improve css dude
