body {
  font-family: sans-serif;
  background-color: white;
  color: black;
}

div.abstract p.title,
div.toc p,
p.releaseinfo em,
div.figure p.title,
div.example p.title,
span.term,
h1, h2, h3, h4, h5, h6  {
  color: #005a9c;
}

h1 {
  font-size: 170%;
  font-style: normal;
  font-weight: normal;
}


div.abstract p.title,
div.toc p,
h2 {
  font-size: 140%;
  font-style: normal;
  font-weight: normal;
}

h3 {
  font-size: 120%;
  font-style: normal;
  font-weight: normal;
}

p.releaseinfo em,
h4 {
  font-size: 100%;
  font-style: normal;
  font-weight: bold;
}

div.figure p.title,
div.example p.title,
span.term,
h5 {
  font-size: 80%;
  font-style: normal;
  font-weight: bold;
}

span.term tt {
  font-size: 120%;
  font-style: normal;
}

h6 {
  font-size: 60%;
  font-style: normal;
  font-weight: bold;
}

div.toc p b,
div.abstract p.title b {
  font-weight: normal;
}

div.author h3 {
  color: black;
  font-weight: bold;
  font-style: normal;
  font-size: 100%;
  margin-bottom: 0;
}

div.toc span.appendix,
div.toc span.chapter {
  font-weight: bold;
}

div.sect1 table.simplelist {
  width: 100%;
}

div.sect1 table.simplelist td {
  width: 50%;
}

div.figure div.informaltable table,
div.figure table.simplelist,
div.figure table.simplelist td {
  width: auto;
}

div.figure div.informaltable table td {
  border-style: none;
}

div.figure div.informaltable table {
  border-color: black;
}

div.example pre.programlisting {
  background-color: #99ffff;
  border-style: ridge;
}

div.example pre.screen {
  background-color: #ff8080;
  border-style: ridge;
}

table.productionset {
  background-color: #F5DCB3;
  border-style: ridge;
  width: 100%;
}

table.productionset table.productionset {
  border-style: none;
  width: 100%;
}

td.productioncounter {
  font-family: monospace;
  font-size: 12px;
  width: 0%;
  padding-right: 0.5em;
}

td.productionlhs {
  font-family: monospace;
  font-size: 12px;
  white-space: nowrap;
  width: 10%;
}

td.productionseperator {
  font-family: monospace;
  font-size: 12px;
  width: 0%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

td.productionrhs {
  font-family: monospace;
  font-size: 12px;
  white-space: nowrap;
  width: 33%;
}

div.variablelist dt {
  margin-top: 1em;
}

dd p {
  margin-top: 0;
}
